body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
    
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

.table-wrapper{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    border: 1px solid green ;

    margin-block: 5px;
    padding: 5px;

    border-radius: 5px;
    
    background-color: #aaa;
}

.table-wrapper:hover{
    background-color: aliceblue;
    margin: 6px;
}


.table-btn{
    display: flex;
    justify-content: space-around;
}

.table-btn a{
    text-decoration: none;
    background-color: white;
    border: 1px solid salmon;
    padding: 5px;
}

.table-btn a:hover{
    padding: 8px;
}


