{% extends 'base.html' %}

{% block head %}
<title> TASK MASTER</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Task Master</h1>
    
    {% if tasks|length < 1 %}
        <h3="text-align:center">There are no tasks. Create one below</h3>
    {% else %}


            {% for task in tasks %}

            <div class="table-wrapper">
                <div class="table-cell">{{task.content}}</div>
                <div class="table-cell">{{task.data_created.date()}}</div>
                <div class="table-cell">{{task.data_created.time()}}</div>
                <div class="table-btn">
                    <a href="{{ url_for('delete', id=task.id) }}">Delete</a>
                    <a href="{{ url_for('update', id=task.id) }}">Update</a>
                </div>
            </div>

            {% endfor %}
    
    {% endif %}




</div>

<div class="input-form">
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
</div>

{% endblock %}
